---
layout: default.liquid
---

{% for post in collections.posts.pages %}
<div class="card-header">
<div class="card-title h5"><a href="{{ post.permalink }}">{{ post.title }}</a></div>
<div class="card-subtitle text-gray"></div>
</div>
<div class="card-body">
{{ post.description }}
</div>
{% endfor %}
